body{
  font-family: sans-serif;
  background-color: #c96b6b;
  color:aliceblue;
  text-align: center;
  font-size: large;
  margin-top: 50px;
}

input{
  font-size: 1.2rem;
  background-color: rgb(196, 168, 168);
  color:whitesmoke;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 20px;
  text-align: center;
}
input:hover{
  background-color: rgb(94, 170, 168);
  color:whitesmoke;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 20px;
  text-align: center;
  box-shadow: 2px 4px rgb(0, 0, 0);
  transition: 0.87s;
}

button{
  font-size: 1.2rem;
  background-color: rgb(83, 138, 138);
  color:whitesmoke;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
button:hover{
  background-color: rgb(94, 170, 168);
  color:whitesmoke;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 2px 4px rgb(0, 0, 0);
  transition: 0.87s;
}